---
layout: default
---

<div class="home">

    <h2 style="letter-spacing: 15px; text-transform: uppercase">cities<span style="text-transform: lowercase; letter-spacing: 0px">of</span>  stars</h2>
    <hr />
    <p>I want to tell stories about those who live fast, die young; stars that burn bright and burn fast; the supernova that collapses into itself; truth bleeding under dirt-stained fingernails; cold winters and warm flames; broken crowns of kings and queens; the embers of fallen kingdoms; ashes and smoke and rust; the bloody fingerprints of revolution; finding bones a place to rest; poisoned veins and toxic lungs; violent gods and beautiful monsters of myth; and the desperate beating of bright, young hearts.</p>
    
    <h3>+ links</h3>
    <a href="">H O M E</a>
    <br />
    <a href="/blog.html">B L O G</a>
    <br />
    <a href="github.com/citiesofstars">G I T H U B</a>

</div>